:root {
  --color-white: #fff;
  --color-gold: #d8c497;
  --color-dark-grey: #3c3c3b;
}

.body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #fbfbfb;
  margin: 0;
  padding: 0;
  min-width: 375px;
  position: relative;
}
.body * {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #3c3c3b;
  outline: none;
  box-sizing: border-box;
}
.body img {
  width: 100%;
  height: auto;
  display: block;
}
.wrap {
  margin: 0 auto;
}
.container {
  width: 100%;
  max-width: 1296px;
  margin: 0 auto;
}
@media (max-width: 1439px) {
  .container {
    padding: 0 12px;
  }
}

.top__wrap {
  height: 100vh;
  max-height: 1000px;
  background: linear-gradient(to bottom, rgba(05, 05, 05, 0.6), rgba(05, 05, 05, 0.6)), url("img/first_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 96px;
}
@media (max-width: 1919px) {
  .top__wrap {
    margin-bottom: 72px;
  }
}
@media (max-width: 1023px) {
  .top__wrap {
    margin-bottom: 56px;
  }
}

/* header */
.header {
  /* backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  background-color: var(--color-white); */
}
.header__wrap {
  height: 76px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 216px;
}
.header__txt {
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  color: var(--color-white);
  /* text-transform: uppercase; */
}
@media (max-width: 1023px) {
  .header__logo {
    width: 160px;
  }
}
@media (max-width: 767px) {
  .header__logo {
    width: 120px;
  }
}

/* first */
.first__wrap {
  height: calc(100vh - 150px);
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.first__title {
  font-size: clamp(26px, 3vw, 52px);
  font-weight: 700;
  line-height: normal;
  color: var(--color-gold);
  text-align: center;
  /* text-transform: uppercase; */
}
@media (max-width: 767px) {
  .first__title {
    max-width: 400px;
  }
}

/* map */
.map {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  padding-bottom: 96px;
  border-bottom: 1px solid rgba(60, 60, 59, 0.1);
}
.map__title {
  font-size: clamp(22px, 3vw, 48px);
  font-weight: 600;
  line-height: normal;
  color: var(--color-gold);
  text-align: center;
  /* text-transform: uppercase; */
}
.map__wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(18, 17, 39, 0.5);
  border-radius: 28px;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  -ms-border-radius: 28px;
  -o-border-radius: 28px;
}
.map__wrap--plaque {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 10px;
  background-color: var(--color-gold);
  border-radius: 24px 0 14px 0;
  -webkit-border-radius: 24px 0 14px 0;
  -moz-border-radius: 24px 0 14px 0;
  -ms-border-radius: 24px 0 14px 0;
  -o-border-radius: 24px 0 14px 0;
}
.map__wrap--plaque img {
  max-width: 200px;
}
@media (max-width: 1919px) {
  .map {
    padding-bottom: 72px;
  }
  .map__wrap {
    max-height: 640px;
  }
  .map__wrap--plaque img {
    max-width: 160px;
  }
}
@media (max-width: 1439px) {
  .map {
    gap: 40px;
  }
  .map__wrap {
    max-height: 520px;
    box-shadow: 0 0 10px rgba(18, 17, 39, 0.5);
  }
  .map__wrap--plaque img {
    max-width: 140px;
  }
}
@media (max-width: 1023px) {
  .map {
    padding-bottom: 56px;
  }
  .map__wrap {
    max-height: 480px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
  .map__wrap--plaque {
    padding: 10px 10px;
    border-radius: 8px 0 8px 0;
    -webkit-border-radius: 8px 0 8px 0;
    -moz-border-radius: 8px 0 8px 0;
    -ms-border-radius: 8px 0 8px 0;
    -o-border-radius: 8px 0 8px 0;
  }
  .map__wrap--plaque img {
    max-width: 120px;
  }
}
@media (max-width: 767px) {
  .map {
    gap: 24px;
  }
  .map__wrap {
    max-height: 420px;
  }
  .map__wrap--plaque {
    padding: 10px 5px;
  }
  .map__wrap--plaque img {
    max-width: 80px;
  }
}

/* footer */
.footer__wrap {
  padding-bottom: 35px;
  padding-top: 96px;
}
.footer__logo {
  width: 450px;
  margin: 0 auto 96px;
}
.footer__txt {
  font-size: 16;
  font-weight: 600;
  line-height: normal;
  color: var(--color-dark-grey);
  text-align: center;
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid rgba(60, 60, 59, 0.1);
}
.footer__leagal {
  font-size: 12px;
  font-weight: 400;
  margin-top: 50px;
  color: var(--color-dark-grey);
  text-align: center;
}
@media (max-width: 1919px) {
  .footer__wrap {
    padding-top: 72px;
  }
  .footer__logo {
    margin: 0 auto 72px;
  }
}
@media (max-width: 1439px) {
  .footer__logo {
    width: 320px;
  }
}
@media (max-width: 1023px) {
  .footer__wrap {
    padding-top: 56px;
  }
  .footer__logo {
    width: 280px;
    margin: 0 auto 56px;
  }
  .footer__txt {
    padding-bottom: 35px;
    margin-bottom: 35px;
  }
  .footer__leagal {
    margin-top: 35px;
  }
}
@media (max-width: 767px) {
  .footer__logo {
    width: 240px;
  }
}

/* card */
.card {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  display: none;
  z-index: 100;
}
.card__wrap {
  max-width: 1180px;
  margin: auto;
  padding: 20px 20px 40px;
  border-radius: 28px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-radius: 28px;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  -ms-border-radius: 28px;
  -o-border-radius: 28px;
  box-shadow: 0 0 20px rgba(18, 17, 39, 0.5);
  background-color: #fbfbfb;
}
.card__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -20px;
}
.card__title {
  font-size: clamp(16px, 3vw, 24px);
  font-weight: 600;
  line-height: normal;
  color: var(--color-dark-grey);
}
.card__title span {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-dark-grey);
}
.card__close {
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid #3c3b3b5c;
  cursor: pointer;
}
.card__gallery-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(60, 60, 59, 0.1);
}
.card__gallery-top,
.card__gallery-bot,
.card__gallery-preview {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  overflow: hidden;
}
.card__gallery-top {
  position: relative;
}
.card__gallery-top--plaque {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 10px;
  background-color: var(--color-gold);
  border-radius: 8px 0 14px 0;
  -webkit-border-radius: 8px 0 14px 0;
  -moz-border-radius: 8px 0 14px 0;
  -ms-border-radius: 8px 0 14px 0;
  -o-border-radius: 8px 0 14px 0;
  z-index: 101;
}
.card__gallery-top--plaque img {
  max-width: 100px;
}
.card__gallery-arrow {
  position: absolute;
  top: 50%;
  display: block;
  width: 50px;
  height: 50px;
  background: rgba(50, 50, 50, 0.7);
}
.card__gallery-arrow img {
  filter: brightness(0) invert(1);
}
.card__gallery-arrow--left {
  left: 25px;
  transform: translateY(-50%) rotate(180deg);
  -webkit-transform: translateY(-50%) rotate(180deg);
  -moz-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  -o-transform: translateY(-50%) rotate(180deg);
}
.card__gallery-arrow--right {
  right: 25px;
  transform: translateY(-50%);
}
.card__gallery-bot {
  display: flex;
  gap: 10px;
}
.card__description {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}
.card__description-item {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  box-shadow: 0 20px 50px rgba(18, 17, 39, 0.08);
  width: 20%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}
.card__item-title {
  font-size: clamp(14px, 3vw, 18px);
  font-weight: 600;
  color: var(--color-dark-grey);
}
.card__item-subtitle {
  font-size: clamp(12px, 3vw, 14px);
  font-weight: 400;
  color: var(--color-dark-grey);
}
.card__info {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  box-shadow: 0 20px 50px rgba(18, 17, 39, 0.08);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card__info-title {
  font-size: clamp(16px, 3vw, 20px);
  font-weight: 600;
  line-height: normal;
  color: var(--color-dark-grey);
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(60, 60, 59, 0.1);
  display: flex;
  align-items: center;
  gap: 20px;
}
.card__info-title span {
  display: block;
  width: 30px;
}
.card__info-txt {
  font-size: clamp(12px, 3vw, 14px);
  font-weight: 400;
  color: var(--color-dark-grey);
}
@media (max-width: 1919px) {
  .card__description-item {
    width: 45%;
  }
}
@media (max-width: 767px) {
  .card__wrap {
    gap: 30px;
  }
  .card__gallery-content {
    padding-bottom: 30px;
    gap: 10px;
  }
  .card__close {
    width: 30px;
    height: 30px;
    padding: 8px;
  }
  .card__gallery-bot {
    gap: 5px;
  }
  .card__gallery-arrow {
    display: none;
  }
  .card__gallery-top--plaque {
    width: 70px;
    padding: 5px;
  }
  .card__description-item {
    padding: 10px;
  }
  .card__info {
    padding: 10px 10px 10px 15px;
    gap: 15px;
  }
  .card__info-title span {
    width: 20px;
  }
  .card__info-title {
    padding-bottom: 15px;
  }
}
